<ion-header>
  <ion-toolbar>
    <ion-title>Termos de Uso e Políticas de Privacidade</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="terms-content">
    <h2>Termos de Uso</h2>
    <p>Este é um texto genérico para os Termos de Uso. Por favor, leia cuidadosamente.</p>
    
    <h2>Políticas de Privacidade</h2>
    <p>Este é um texto genérico para as Políticas de Privacidade. Protegemos suas informações.</p>
  </div>
</ion-content>
