@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.page-categorias {
    --background: #00D09E; /* Fundo verde */
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100vh;
    overflow: auto; /* Permite rolagem se necessário */
}

ion-header {
    background-color: #00D09E; /* Cor do cabeçalho */
    color: white; /* Cor do texto */
    box-shadow: none;
}
  
ion-toolbar {
    --background: #00D09E; /* Cor do fundo do toolbar */
    box-shadow: none;

    ion-title {
        color: #052224;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
}
  
ion-title {
    font-size: 20px; /* Tamanho da fonte do título */
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.saldo-header {
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saldo-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;

    .titulo {
        font-size: 16px; /* Tamanho do título */
        color: #093030; /* Cor do título */
        font-family: 'Poppins', sans-serif;
    }

    .valor {
        font-size: 24px; /* Tamanho do valor, maior para destaque */
        font-weight: bold; /* Negrito para os valores */
        color: #ffffff; /* Cor do valor */
        font-family: 'Poppins', sans-serif;
    }

    .despesa-titulo .valor {
        color: #0068FF; /* Cor do valor das despesas */
        font-family: 'Poppins', sans-serif;
    }

    ion-icon {
        margin-right: 8px; /* Espaçamento entre o ícone e o texto */
        font-size: 20px; /* Tamanho do ícone */
        color: #052224; /* Cor do ícone */
    }
}

.progress-bar {
    width: 100%;
    margin-top: 8px;

    ion-progress-bar {
        height: 10px;
        --progress-background: #00a17a;
        --background: #d9d9d9;
        border-radius: 4px;
    }

    .progress-text {
        font-size: 1rem;
        color: #052224;
        text-align: center;
        margin-top: 8px;
        
    }
}

.categoria-list {
    display: flex; /* Define um layout flexível */
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha se necessário */
    justify-content: center; /* Centraliza os cards horizontalmente */
    margin-top: 10px; /* Margem superior para os cards */
    background-color: #F1FFF3; /* Cor de fundo da lista de categorias */
    height: 65vh; /* Altura do contêiner */
    width: 100%; /* Largura total do contêiner */
    max-width: 500px; /* Largura máxima do contêiner */
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed; /* Fixa a posição do contêiner */
    margin: auto; /* Centraliza o contêiner */
    border-top-left-radius: 50px; /* Bordas arredondadas */
    border-top-right-radius: 50px; /* Bordas arredondadas */
}

.categoria-card {
    background-color: #6DB6FE; /* Cor do card */
    margin-top: 20px;
    height: 120px; /* Altura do card */
    width: calc(40% - 20px); /* Largura de um terço menos a margem */
    margin: 10px; /* Espaçamento entre os cards */
    border-radius: 15px; /* Cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex; /* Usado para centralizar conteúdo dentro do card */
    flex-direction: column; /* Mantém o conteúdo na vertical */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    transition: background-color 0.3s; /* Suaviza a transição de cor ao passar o mouse */
    position: relative; /* Permite posicionamento absoluto de elementos internos */
}

.categoria-card:hover {
    background-color: #0068FF; /* Cor do card ao passar o mouse */
}

.categoria-card:active {
    background-color: #004C99; /* Cor do card ao clicar */
}

.categoria-card ion-card {
    background-color: transparent; /* Torna o fundo do ion-card transparente */
    height: 100%; /* Faz com que o ion-card preencha todo o espaço do categoria-card */
    width: 100%; /* Largura total do ion-card */
    border: none; /* Remove a borda */
    box-shadow: none; /* Remove a sombra */
    display: flex; /* Usado para centralizar o ícone */
    align-items: center; /* Centraliza o ícone verticalmente */
    justify-content: center; /* Centraliza o ícone horizontalmente */
}

.categoria-card ion-icon {
    font-size: 50px; /* Aumenta o tamanho do ícone */
    color: #ffffff; /* Cor do ícone */
}

/* Nome da categoria fora do card */
.categoria-nome {
    position: absolute; /* Permite posicionar fora do card */
    bottom: -20px; /* Posiciona abaixo do card */
    color: #093030; /* Cor do texto */
    font-weight: 500; /* Negrito no texto */
    text-align: center; /* Centraliza o texto */
    font-size: 15px; /* Tamanho da fonte */
}

.nav-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    ion-toolbar {
        --background: #DFF7E2;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-top: 1px solid #dcdcdc;

        ion-buttons {
            display: flex;
            justify-content: space-around;
            padding: 10px 0;

            ion-icon {
                font-size: 1.6rem;
                color: #333;
            }
        }
    }
}
