.register-screen {
    --background: #00d1a0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding: 0;
}

.form-container {
    background-color: #F1FFF3;
    height: 80vh;
    width: 100%; 
    max-width: 500px;
    //margin: 0 auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    position: fixed;
}

.welcome-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 24px;
    color: #093030;
    text-align: center;
  }

.input-form {
    display: flex;
    flex-direction: column;

}

.input-field {
    --background: transparent;
    --border-width: 0px;

    ion-label {
        color:#093030;
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
    }

    ion-input {
        --background: #DFF7E2;
        color: #093030;
        --padding-start: 10px;
        --padding-end: 10px;
        border-radius: 20px;
        width: 100%;
        height: 20px;
    }
}


.register-button {
    --color: #093030;
    --border-radius: 36px;
    font-weight: bold;

    --background:#00d1a0;
    width: 50%;
    margin: 20px auto;
    height: 40px;
}


.terms {
    color: #4B4544;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
  
    a {
      color: #4B4544;
      font-weight: bold;
      text-decoration: none;
    }
}

.extra-options {
    color: #4B4544;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
  
    a {
        color: #0068FF;
        font-weight: bold;
        text-decoration: none;
    }
}
